    main {
        background: linear-gradient(to bottom, rgba(20, 20, 20, 0.9) 0%, rgba(0, 0, 0, 0.8) 100%), url(/psp/img/florian-klauer-119557.jpg);
        background-size: cover;
        background-position: center;
        padding: 150px 0;
        color: #fff;
        text-align: center;
        height: 390px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    @media screen and (max-width: 320px) {
        main {
            background: linear-gradient(to bottom, rgba(20, 20, 20, 0.9) 0%, rgba(0, 0, 0, 0.8) 100%), url(/psp/img/florian-klauer-119557.jpg);
            background-size: cover;
            background-position: center;
            padding: 150px 0;
            color: #fff;
            text-align: center;
            height: 160px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 285%;
        }
    }
    
    img {
        height: 365px;
        margin-top: -100px;
    }
    
    @media screen and (max-width: 320px) {
        img {
            height: 234px;
            margin-top: -315px;
        }
    }
    
    .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .main {
        display: flex;
        flex-direction: column;
    }
    
    #pretty-sweet-logo {
        margin-top: 0px;
    }
    
    @media screen and (max-width: 320px) {
        #pretty-sweet-logo {
            margin-top: -45px;
            height: 655px;
        }
    }
    
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    h1 {
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        flex-direction: row;
        font-size: 45px;
    }
    
    .mantra-parent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .mantra {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        background-color: #fff;
        font-size: 35px;
        font-family: 'Didact Gothic', sans-serif;
        margin-top: 45px;
    }
    
    @media screen and (max-width: 320px) {
        .mantra {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 0%;
            font-family: 'Didact Gothic', sans-serif;
            font-size: 110px;
            margin-left: 640px;
        }
    }
    
    .who-are-we {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: -195px;
    }
    
    @media screen and(max-width: 320px) {
        .who-are-we {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    
    .camera-img {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    #about-img {
        margin-top: 90px;
        height: 400px;
        margin-left: 190px;
    }
    
    @media screen and (max-width: 320px) {
        #about-img {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left: 1095px;
            width: 100%;
            margin-top: -1650px;
            height: 625px;
        }
    }
    
    #about {
        display: flex;
        flex-direction: column;
    }
}
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 175px;
    margin-right: 175px;
    margin-top: 325px;
}
@media screen and (max-width: 320px) {
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.about-paragraph {
    font-family: 'Didact Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 215px;
    margin-top: 320px;
    margin-left: 90px;
    font-size: x-large;
}
@media screen and (max-width: 320px) {
    .about-paragraph {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 850px;
        font-size: 55px;
        margin-left: -240px;
        align-items: center;
    }
}
.quote {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -10px;
    font-size: 25px;
    font-weight: 100;
}
@media screen and (max-width: 320px) {
    .quote {}
}
.services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    font-size: 35px;
    font-family: 'Didact Gothic', sans-serif;
    margin-bottom: 45px;
    align-items: baseline;
}
.services-parent {
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#h2 {
    font-family: 'Didact Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    padding: 15px;
    border: 1px solid #000;
    border-right: hidden;
    border-left: hidden;
    font-size: 45px;
    margin-right: 13%;
    margin-left: 13%;
    width: 100%;
    text-align: center;
}
.audio-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 55px;
}
#mixer {
    width: 175px;
    height: 125px;
    border-radius: 150px;
}
h3 + p {
    width: 175px;
    font-size: 17px;
}
.video-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 55px;
}
#video {
    width: 175px;
    height: 125px;
    border-radius: 150px;
}
.web-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 55px;
}
#web {
    width: 175px;
    height: 125px;
    border-radius: 150px;
}
.social-media-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 55px;
}
#social-media {
    width: 175px;
    height: 125px;
    border-radius: 150px;
}
.social-media-parent {
    background-color: #939393;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 135px;
}
.fa {
    font-size: 45px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    margin-top: 40px;
    color: #fff;
}
.fa-facebook {}
.fa-facebook:hover {
    color: #3b5998;
}
.fa-instagram:hover {
    color: #000;
}
.fa-twitter:hover {
    color: #4099FF;
}
.fa-youtube-play:hover {
    color: #cc181e;
}
.email-parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 200px;
    background-color: #000;
}
.email {
    font-size: 20px;
    padding: 10px;
    margin-top: 80px;
    color: #fff;
    font-family: 'Didact Gothic', sans-serif;
}
.email:hover {
    color: #939393;