body {
    font-family: 'Didact Gothic', sans-serif;
    color: #fff;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.landing {
    background: url(/wineAndWeb/img/artem-sapegin-187141.jpg);
    background-size: cover;
    height: 575px;
}

.nav {
    padding: 10px;
}

.nav a {
    color: #fff;
}

.nav a:hover {
    color: #201a16;
}

.nav-pills {
    font-family: 'Lobster Two', cursive;
    font-size: 2.0em;
    opacity: .7;
}

.contact-nav {
    border: 2px #fff solid;
    border-radius: 4px;
}

h1 {
    margin-top: 11%;
    font-size: 3.9em;
}

.about{
    margin-top: 5%;
    margin-bottom: 5%;
}

p {
    color: #000;
    font-size: 2.5em;
    font-weight: 100;
    margin-top: 7%;
    margin-right: 5%;
    margin-left: 5%;
}

.socialMedia{
    background-color: lightgrey;
    margin-top: 5%;
}

.btn-primary {
    color: #fff;
    background-color: lightgrey;
    border-color: lightgrey;
    padding-bottom: 20%;
    padding-top: 20%;
}

.btn-primary:hover {
    color: #201a16;
    background-color: lightgrey;
    border-color: #201a16;
    padding-bottom: 20%;
    padding-top: 20%;
}


.fa{
    color: #201a16;
}

.footer {
    background-color: #201a16;
}

.footer a {
    color: #fff;
    font-size: 1.7em;
}

.email{
    padding-bottom: 5%;
    padding-top: 5%;
}
