            body {
            background-color: #000;
        }
        
        main {
            background: linear-gradient(to bottom, rgba(20, 20, 20, 0.9) 0%, rgba(0, 0, 0, 0.8) 100%), url(/PS/img/florian-klauer-119557.jpg);
            background-size: cover;
            background-position: center;
            background-size: cover;
            padding: 150px 0;
            color: #fff;
            text-align: center;
            height: 665px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        img {
            height: 365px;
            margin-top: 0px;
        }
        
        .nav-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-top: -120px;
        }
        
        ul {
            color: #fff;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-right: 80px;
        }
        
        li {
            display: flex;
            flex-direction: row;
            padding: 15px;
            text-decoration: none;
            justify-content: center;
            color: #fff;
            margin-right: 45px;
        }
        
        #contact {
            border: 1px solid #fff;
        }

#contact:hover{
    background-color: white;
    text-decoration-color: #000;
}
        
        .logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        #pretty-sweet-logo {
            margin-top: 45px;
        }
        
        .portfolio {
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 75px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 100px;
        }
        
        .services {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-top: 55px;
            width: 100%;
            background-color: #fff;
            font-size: 35px;
            font-family: 'Didact Gothic', sans-serif;
        }
        
        h2 {
            font-family: 'Lato', sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        .who-are-we {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: -250px;
        }
        
        #about-img {
            margin-top: 325px;
            height: 500px;
        }
        
        .about {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 175px;
            margin-right: 175px;
            margin-top: 325px;
        }
        
        h1 {
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            flex-direction: column;
            border: 1px solid #000;
            border-right: hidden;
            border-left: hidden;
            margin-top: -45px;
            padding: 5px;
        }
        
        .about-paragraph {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        .quote {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 120px;
            font-size: 25px;
            font-weight: 100;
        }
        
        h2 {
            display: flex;
            justify-content: center;
            margin-top: 100px;
            padding: 15px;
            border: 1px solid #000;
            border-right: hidden;
            border-left: hidden;
            font-size: 35px;
            margin-right: 13%;
            margin-left: 13%;
            width: 100%;
            text-align: center;
        }
        
        .services-parent {
            background-color: #fff;
            display: flex;
            justify-content: center;
            margin-top: 75px;
        }
        
        .services {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: baseline;
            margin-bottom: 45px;
        }
        
        .audio-services {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 55px;
        }
        
        #mixer {
            width: 175px;
            height: 125px;
            border-radius: 150px;
        }
        
        h3 + p {
            width: 175px;
            font-size: 17px;
        }
        
        .video-services {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 55px;
        }
        
        #video {
            width: 175px;
            height: 125px;
            border-radius: 150px;
        }
        
        .web-services {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 55px;
        }
        
        #web {
            width: 175px;
            height: 125px;
            border-radius: 150px;
        }
        
        .social-media-services {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 55px;
        }
        
        #social-media {
            width: 175px;
            height: 125px;
            border-radius: 150px;
        }
        
        .social-media-parent {
            background-color: #939393;
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 135px;
        }
        
        .fa {
            font-size: 45px;
            display: flex;
            justify-content: center;
            flex-direction: row;
            padding: 10px;
            margin-top: 40px;
            color: #fff;
        }
        
        .fa-facebook {}
        
        .fa-facebook:hover {
            color: #3b5998;
        }
        
        .fa-instagram:hover {
            color: #000;
        }
        
        .fa-twitter:hover {
            color: #4099FF;
        }
        
        .fa-youtube-play:hover {
            color: #cc181e;
        }
        
        .email-parent {
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 200px;
            background-color: #000;
        }
        
        .email {
            font-size: 20px;
            padding: 10px;
            margin-top: 80px;
            color: #fff;
        }
        
        .email:hover {
            color: #939393;