body {
    font-family: sans-serif;
    background-color: black;
    background-size: cover;
}

header{
    background-color: black;
    background-size: cover;
}

ul, a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    color: #fff;
    justify-content: center;
}

a:hover {
    color: black;
}

#logo,
img {
    width: 750px;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

ul {
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: -25px;
}

li {
    display: flex;
    flex-direction: row;
    padding: 15px;
    border: 1px solid #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

li:hover {
    background-color: #fff;
}

h2{
    text-transform: uppercase;
}

 main{
    background-color: #fff;
    margin-top: 258px;
}

.who-are-we{
    display: flex;
    flex-direction: row;
}

#about-img{
    margin-top: 0px;
}

h2, p{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
}