html {
        width: 65%;
        margin: 0 auto;
            }
.parent-container {
                    background-color: dodgerblue;
                    }
            
hr { 
    clear: both;
    }
            
.child-container {
                background-color: darkgoldenrod;
                width: 100px;
                height: 100px;
                margin: 20px;
                float:left;
                }
            
.floating {
                float: left;
            }
            