.jumbotron {
    margin-top: -136px;
}

@media screen and (max-width: 320px) {
    .jumbotron {
        background: hidden;
         display: none;
    }
}

.background-wrap {
    position: relative;
    z-index: 1000;
    width: 100%;
    height: 80%;
    overflow: hidden;
    top: 0;
    left: 0;
}

#video-bg-elem {
    position: fixed !important;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    filter: opacity(20%);
}


/*

video background element 

#video-bg-elem{
    position: relative;
    overflow: hidden;
    left: -129px;
    min-height: 100%;
    min-width: 125%;
    height: 920px;
    width: 1110px;
    filter: opacity(20%);
}

*/

@media screen and (max-width: 320px) {
    #video-bg-elm {
        display: none;
    }
}

* {
    position: relative;
}

li {
    text-decoration: none;
    
}

a{
    color: #0A2342;
}

body {
    width: 100%;
    margin-top: 35px;
    color: #0A2342;
}

@media screen and (max-width: 320px){
    body{
        width: 110%;
        color: #0A2342;       
    }
}

header {
    margin-right: 9%;
    margin-left: 9%;
}

@media screen and (max-width: 320px){
    header{
    width: 100%;
    display: flex;
    flex-direction: column;
    }
}

.header {
    margin: 0px 0px 25px 507px;
    height: 100px;
}

@media screen and (max-width: 320px){
    .header{
    display: flex;
    flex-direction: column; 
    }
}


/* logo */




.container-fluid{
    display: flex;
    padding-left: 0px;
}

.navbar-form{
    display: none;
}

.btn-default{
    display: none;
}


/* Navigation */

.navbar-main {
    border: 5px solid #FEABA5;
    border-radius: 30px;
    margin-top: -2px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    height: 112px;
}

.navbar-nav{
    margin-top: 25px;
    justify-content: space-between;
}

.navbar-collapse{
    padding-left: 0px;
    padding-right: 0px;
}

.caret {
    color: #0A2342;
}

@media screen and (max-width: 320px){
    .navbar-main{
        border: hidden;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    height: 112px;  
    
}

.navbar-nav:hover {
    color: #0A2342;
}

.dropdown{
    
}

.dropdown-toggle:hover {
    color: #FEABA5;
}

.navbar-inverse{
    border: 3px solid #fff;
    border-radius: 20px;
    border-bottom-right-radius: 0px;
    background-color: #FEABA5;
}

.navbar-inverse:hover{
    border: 3px solid #78C5B6;
    border-radius: 20px;
    border-top-right-radius: 0px;
    background-color: #0A2342;
}

@media screen and (max-width: 320px){
    .navbar{
        
    }
}

.nav {
    font-style: none;
}

@media screen and (max-width: 320px){
    .nav{
    display: flex;
    flex-direction: column;  
    }
}

.links {
    color: #0A2342;
}

@media screen and (max-width: 320px){
    .links{
    display: flex;
    flex-direction: column;
    }
}

.links:hover {
    background-color: #FEABA5;
    text-decoration: none;
    color: #0A2342;
}

#video {
    margin-top: 23px;
    border: 3px solid #0A2342;
    background-color: #78C5B6;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    padding: 5px;
}

@media screen and (max-width: 320px){
    #video{
    display: flex;
    flex-direction: column;
    }
}

#video:hover {
    background-color: #FEABA5;
    border: 3px solid #FEABA5;
    border-radius: 10px;
    text-decoration: underline;
    border-top-right-radius: 0px;
}

#audio {
    margin-top: 23px;
    border: 3px solid #0A2342;
    background-color: #78C5B6;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    padding: 5px;
}

@media screen and (max-width: 320px){
    #audio{
        
    }
}

#audio:hover {
    background-color: #FEABA5;
    border: 3px solid #FEB7B2;
    border-radius: 10px;
    text-decoration: underline;
    border-top-right-radius: 0px;
}

#web {
    margin-top: 23px;
    border: 3px solid #0A2342;
    background-color: #78C5B6;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    padding: 5px;
}

@media screen and (max-width: 320px){
    #web{
        
    }
}

#web:hover {
    background-color: #FEB7B2;
    border: 3px solid #FEB7B2;
    border-radius: 10px;
    text-decoration: underline;
    border-top-right-radius: 0px;
}

#commDesign {
    margin-top: 23px;
    border: 3px solid #0A2342;
    background-color: #78C5B6;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    color: #0A2342;
    padding: 5px;
    margin-right: 60px;
}

@media screen and (max-width: 320px){
    #commDesign{
        
    }
}

#commDesign:hover {
    background-color: #FEB7B2;
    border: 3px solid #FEB7B2;
    border-radius: 10px;
    text-decoration: underline;
    border-top-right-radius: 0px;
}

main {
    margin-bottom: -22px;
}

@media screen and (max-width: 320px){
    main{
        background: white;
    }
}

/* Heading */

.main-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -40px;
    margin-bottom: 0px;
}

@media screen and (max-width: 320px) {
    .main-heading{
        background: white;
        margin-bottom: -61px;
        width: 53%;
    }
}

h1 {
    text-align: center;
    background-color: #FEB7B2;
    margin-right: 9%;
    margin-left: 9%;
    margin-bottom: 0px;
    height: 55px;
    border-radius: 30px;
    border-top-right-radius: 0px;
    color: #0A2342;
    border: 5px solid #0A2342;
}

@media screen and (max-width: 320px){
    h1{
    text-align: center;
    background-color: #FEB7B2;
    margin-bottom: 61px;
    height: 122px;
    border-radius: 30px;
    border-top-right-radius: 0px;
    color: #0A2342;
    border: 5px solid #0A2342;
    font-size: 45px;
    width: 157%;
    }
}


/* Social Media Icons */

.ok {
    display: flex;
    flex-direction: row;
    margin-left: 90px;
}

@media screen and (max-width: 320px){
    .ok{
        flex-direction: column-reverse;
    }
}

.social-media-header {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.social-media-header a:hover {
    text-shadow: 2px 2px 4px #000000;
}

.fa-facebook-official {
    color: #3b5998;
}

.fa-facebook-official a:hover {
    text-shadow: hidden;
}

.fa-instagram {
    color: #000000;
}

.fa-instagram a:hover {
    text-shadow: hidden;
}

.fa-twitter-square {
    color: #4099FF;
}

.fa-twitter-square a:hover {
    text-shadow: hidden;
}

.fa-youtube-play {
    color: #cc181e;
}

.fa-youtube-play a:hover {
    text-shadow: hidden;
}


/* Description Paragraph */

.description-parent {
    background-color: #a0d6b4;
    border-bottom-right-radius: 30px;
    width: 361px;
    margin-left: 152px;
    border: 5px solid #0A2342;
    border-top: hidden;
    height: 146px;
}

@media screen and (max-width: 320px){
    .description-parent{
    background-color: #a0d6b4;
    border-bottom-right-radius: 30px;
    width: 235px;
    margin-left: -45px;
    border: 5px solid #0A2342;
    border-top: hidden;
    height: 200px;
    }
}

.description-container {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 320px){
    .description-container{
        
    }
}



.description {
    width: 340px;
    margin: 7px 16px 0px;
    font-size: 15px;
}

@media screen and (max-width: 320px){
    .description{
    width: 225px;
    margin: 2px 3px 0px;
    font-size: 15px;   
    }
}

video-production-main{
    
}

.video-production{
    display: flex;
    flex-direction: column;
    margin-top: 275px;
    margin-right: 9%;
    margin-left: 9%;
    text-align: center;
}

h2 {
    justify-content: center;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    background-color: #FEB7B2;
    border: 4px solid #fff;
    margin-right: 10px;
    margin-top: 100px;
    height: 70px;
    align-items: center;
    padding: 5px;
}

@media screen and (max-width: 320px){
    h2{
        justify-content: flex-start;
        display: flex;
        margin-bottom: 5px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        align-items: center;
    }
}

.fa-video-camera{
    font-size: 45px;
    margin-left: 60px;
}

.video-description{
    display: flex;
    flex-direction: column;
    background-color: #a0d6b4;
    border: 5px solid #a0d6b4;
    border-radius: 40px;
    width: 185px;
    margin-left: 150px;
    margin-top: 420px;
}

.video-paragraph{
    margin: 5px;
    padding: 10px;
}

.fa-volume-up{
    font-size: 45px;
    

}

.audio-production-main{
    display: flex;
    flex-direction: column;
    margin-right: 9%;
    margin-left: 9%;
    text-align: center;
}

.audio-description{
    display: flex;
    flex-direction: column;
    background-color: #a0d6b4;
    border: 5px solid #a0d6b4;
    border-radius: 40px;
    width: 185px;
    margin-left: 150px;
    margin-top: 420px;
}

.audio-paragraph{
    padding: 10px;
}

.fa-desktop{
    font-size: 45px;
    margin-right: 700px;
}

.web-design-main{
    display: flex;
    flex-direction: column;
    margin-right: 9%;
    margin-left: 9%;
    text-align: center;
    margin-bottom: 400px;
}

web-description{
    
}

.web-paragraph{
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #a0d6b4;
    border: 5px solid #a0d6b4;
    border-radius: 40px;
    width: 185px;
    margin-left: 150px;
}

.communication-design-main{
    display: flex;
    flex-direction: column;
    margin-bottom: 400px;
    margin-right: 9%;
    margin-left: 9%;
    text-align: center;
}

.comm-description{
    
}

.comm-paragraph{
    padding: 10px;
}

/* footer */

footer {
    display: flex;
    flex-direction: row;
    margin-right: 9%;
    margin-left: 9%;
    margin-top: 150px;
    height: 290px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 5px solid #0A2342;
    border-bottom: hidden;
    background-color: #a0d6b4;
}

@media screen and (max-width: 320px){
    footer{
        background: white;
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
}


.footer{
    display: flex;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 320px){
    .contact{
        display: flex;
        flex-direction: column;
    }
}

.addresses {
    margin-bottom: 10px;
    text-decoration: underline;
    flex-direction: row;
}

.fa-envelope {
    color: #000;
    margin-top: 10px;
    border: 2px solid #0A2342;
    border-radius: 30px;
    background-color: #FEB7B2;
    padding: 10px;
}

.fa-envelope:hover {
    background-color: #a0d6b4;
    border: 2px solid #a0d6b4;
    text-decoration: underline;
    padding: 10px;
}

.fa-phone {
    color: #000;
    margin-top: 15px;
    border: 2px solid #0A2342;
    border-radius: 30px;
    background-color: #FEB7B2;
    padding: 10px;
}

.fa-phone:hover {
    background-color: #a0d6b4;
    border: 2px solid #a0d6b4;
    text-decoration: underline;
    padding: 10px;
}

.fa-map-marker {
    color: #000;
    border: 2px solid #0A2342;
    border-radius: 30px;
    background-color: #FEB7B2;
    margin-top: 15px;
    padding: 10px;
}

.fa-map-marker:hover {
    background-color: #a0d6b4;
    border: 2px solid #a0d6b4;
    text-decoration: underline;
    padding: 10px;
}

p {
    font-family: sans-serif;
    color: #0A2342;
}

/* Inquiry */

h3 {
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #a0d6b4;
    border: 4px solid #fff;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 15px;
    height: 70px;
    align-items: center;
    padding: 5px;
}

@media screen and (max-width: 320px){
    h3{
        
    }
}

.inquiry-container {
    background-color: #FEB7B2;
    border: 3px solid #a0d6b4;
    border-radius: 20px;
    padding: 20px;
}

@media screen and (max-width: 320px){
    .inquiry-container{
        display: flex;
        flex-direction: column;
    }
}

.inquiry {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 320px){
    .inquiry{
        display: flex;
        flex-direction: column;
    }
}

span {
    color: red;
}

.drop-down{
    text-decoration: none;
}

select {
    
}

.newsletter-and-copyright{
    
    
}

@media screen and (max-width: 320px){
    .what{
        
    }
}

/* Newsletter */

.email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    border-right: hidden;
    margin-top: -5px;
    margin-left: 40px;
    background-color: #a0d6b4;
    align-items: center;
    border: 5px solid #0A2342;
    border-top-color: #0A2342;
}

@media screen and (max-width: 320px){
    .email{
        
    }
}

.newsletter {
    justify-content: center;
    margin-bottom: 0px; 
    padding-left: 5px;
    padding-right: 0px;
    align-self: center;
}

.text-field {
    padding-left: 0px;
}

.submit {
    
}


/* CopyRight */

.copyright {
    display: flex;
    flex-direction: row;
}

.copyright-text {
    justify-content: center;
    margin-right: 58%;
    margin-left: 78%;
   
}