.jumbotron {
    margin-top: -103px;
}

.background-wrap {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 80%;
    overflow: hidden;
    top: 0;
    left: 0;
}

#video-bg-elem {
    position: absolute;
    left: -129px;
    min-height: 100%;
    min-width: 125%;
    height: 920px;
    width: 1110px;
}

* {
    position: relative;
}

body{
    width: 98%;
    margin-top: 35px;
}

header {
    margin-right: 9%;
    margin-left: 9%;  
}

.header {
    margin: 0px 0px 27px 509px;
    height: 100px;
}

/* logo */

.logo {
    
}

/* Navigation */

.navbar-main {
    border: 5px solid salmon;
    border-radius: 30px;
    margin-top: -2px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 112px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    height: 75px;
}

.nav {
    font-style: none;
    margin-left: 28px;
}

#video {
    margin-top: 45px;
    border: 3px solid aquamarine;
    background-color: aquamarine;
}

#video:hover {
    background-color: salmon;
    border: 3px solid salmon;
}

#audio {
    margin-top: 45px;
    border: 3px solid aquamarine;
    background-color: aquamarine;
}

#audio:hover {
    background-color: salmon;
    border: 3px solid salmon;
}

#web {
    margin-top: 45px;
    border: 3px solid aquamarine;
    background-color: aquamarine;
}

#web:hover {
    background-color: salmon;
    border: 3px solid salmon;
}

#commDesign {
    margin-top: 45px;
    border: 3px solid aquamarine;
    background-color: aquamarine;
}

#commDesign:hover {
    background-color: salmon;
    border: 3px solid salmon;
}

.links {
    color: #000;
    margin-right: 5px;
}

.links:hover {
    background-color: salmon;
    text-decoration: none;
}

/* Heading */

.main-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -40px;
    margin-bottom: 5px;
}

h1 {
    text-align: center;
    background-color: salmon;
    margin-right: 9%;
    margin-left: 9%;
    height: 46px;
    border-radius: 30px;
    border-top-right-radius: 0px;
}

.yes {
    display: flex;
    flex-direction: row;
    margin-bottom: -87px;
}

/* Description Paragraph */

.description-parent {
    background-color: aquamarine;
    border-bottom-right-radius: 30px;
    height: 168px;
    width: 361px;
    margin-left: 280px;
    margin-top: -35px;
    border: 5px solid salmon;
    border-top: hidden;
}

.description {
    width: 268px;
    margin: 11px 49px 0px;
}

/* Social Media Icons */

.ok {
    display: flex;
    flex-direction: row;
    margin-left: 90px;
}

.social-media-header {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 200px
}

.social-media-header a:hover {
    text-shadow: 4px 4px 6px #000000;
}

.fa-facebook-official {
    color: #3b5998;
    
}

.fa-facebook-official a:hover {
    text-shadow: hidden;
}

.fa-instagram {
    color: #000000;
    
}

.fa-instagram a:hover {
    text-shadow: hidden;
}

.fa-twitter-square {
    color: #4099FF;
    
}

.fa-twitter-square a:hover {
    text-shadow: hidden;
}

.fa-youtube-play {
    color: #cc181e;
    
}

.fa-youtube-play a:hover {
    text-shadow: hidden;
}

/* Newsletter */

.email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 55px;
    border-bottom: hidden;
    border-right: hidden;
    border-top: hidden;
    margin-top: 321px;
    margin-left: 220px;
    background-color:aquamarine;
    align-items: center;
    border: 5px solid salmon;
    border-bottom: hidden;
}

.newsletter {
    justify-content: center;
    margin-bottom: 0px;
     padding-left: 10px;
    align-self: center;
}

.text-field {
   
}

.submit {
   
}

/* footer */

footer {
    display: flex;
    flex-direction: row;
    margin-right: 9%;
    margin-left: 9%;
    margin-top: 35px;
    height: 255px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 5px solid salmon;
    border-bottom: hidden;
}

.footer {
    display: flex;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 84px;
    margin-top: -14px;
}


h2 {
    justify-content: flex-start;
    display: flex;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 4px;
    margin-bottom: 29px;
    background-color: aquamarine;
    border: 5px solid aquamarine;
    border-top-color: aquamarine;
}

.fa-envelope {
    color: #000;
    margin-top: 10px;    
    border: 10px solid salmon;
    border-radius: 30px;
    background-color: salmon;
}

.fa-envelope:hover {
    background-color: aquamarine;
    border: 10px solid aquamarine;
}

.addresses {
    margin-top: -20px;
}

.fa-phone {
    color: #000;
    margin-top: 22px;
    border: 10px solid salmon;
    border-radius: 30px;
    background-color: salmon;
}

.fa-phone:hover {
    background-color: aquamarine;
    border: 10px solid aquamarine;
}

.fa-map-marker {
    color: #000;
    border: 10px solid salmon;
    border-radius: 30px;
    background-color: salmon;

}

.fa-map-marker:hover {
    background-color: aquamarine;
    border: 10px solid aquamarine;
}
/* CopyRight */

.copyright {
    display: flex;
    flex-direction: row;
    margin-left: 600px;
    margin-top: 200px;
}

.copyright-text {
   justify-content: flex-end; 
}