.container {
    width: 80%;
    margin: 0 auto;
}

#hero {
    background: url('../img/snowy-cabin.jpeg');
    background-size: cover;
    width: 100%;
    height: 800px;
}

nav a {
    font-family: 'Open Sans', sans-serif;
    float:right;
    text-decoration: none;
    color: #fff;
    margin-right: 35px;
    padding-top: 35px;
    font-size: 20px;
}

nav a:hover {
    text-decoration: underline;
}

h1  {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-top: 196px;
    font-size: 100px;
    color: #fff;
}

#hero p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin-top: 45px;
    margin-bottom: 20px;
}

.jumbotron {
    text-align: center;
}

.jumbotron a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
    color: #fff;
    padding: 5px;
}

#about {
    padding-top: 50px;
    padding-bottom: 10px;
}

#wild-child {
    background: url('../img/wild-child.jpg');
    float: left;
    background-size: cover;
    width: 30%;
    height: 350px;
    padding-bottom: 50px;
}

#bio {
    font-family: 'Open Sans', sans-serif;
    background-color: #d1d1d1;
    margin-left: 35px;
    padding-top: 1px;
    padding-bottom: 68px;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
   margin-left: 500px;
    margin-top: 70px;
    margin-right: 200px;
    font-size: 25px;
    font-weight: lighter;
}

#k {
    background-color: #d1d1d1;
    height: 425px;
    width: 100%;
    clear: both;
    padding-right: 100px;
    margin-right: 100px;
}

#links {
    margin-left: 65px;
    margin-top: 35px;
}

#music {
    float: left;
    font-family: 'Open Sans', sans-serif;
    margin-left: 150px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 20%;
    text-align: center;
}


#soundcloud {
    height: 150px;
    width: 200px;
    margin-top: 30px;
    margin-left: 30px;
}

#music h4 {
    margin-left: 35px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
}

#music p {
    margin-left: 40px;
}

#video {
    float: left;
    font-family: 'Open Sans', sans-serif;
    margin-left: 75px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 20%;
    text-align: center;
}

#youtube {
    height: 150px;
    width: 200px;
    margin-top: 30px;
    margin-left: 30px;
}

#video h4 {
    margin-left: 45px;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-top: 20px;
}

#video p {
    margin-left: 45px;
}

#freelance {
    float: left;
    font-family: 'Open Sans', sans-serif;
    margin-left: 75px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 20%;
    text-align: center;
}

#upwork {
    height: 150px;
    width: 200px;
    margin-top: 30px;
    margin-left: 30px;
}

#freelance h4 {
    margin-left: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
}

#freelance p {
    margin-left: 40px;
}

#education {
    clear: both;
    padding-top: 50px;
    
}

#aca {
    float: left;
    padding-left: 115px;
}

#hbu {
    float: left;
    margin-left: 300px;
}

#contact {
    background: url('../img/hueco-tanks.jpg');
    background-size: cover;
    width: 100%;
    height: 700px;
    clear:both;
    margin-top: 290px;
}

#contact h4 {
    color: #fff;
    text-align: center;
    font-size: 40px;
    padding-top: 350px;
}

#contact a {
    color: #fff;
}

#contact a:hover {
    text-decoration: none;
}