.container {
    width: 80%;
    margin: 0 auto;
}

#img {
    background: url(img/sub_header_home.jpg);
    height: 500px;
    width: 100%;
}

h1 {
    color: #fff;
    font-family: serif;
    text-align: center;
    font-size: 50px;
    padding-top: 200px;
    font-weight: 100;
}

header p {
    color: #fff;
    text-align: center;
    font-family: sans-serif;
    margin-top: -10px;
}

#search {
    padding-top: 20px;
}

#map {
    float: right;
    margin-right: 100px;
}

#store {
    float: right;
    margin-right: 100px;
}

#security {
    float: right;
    margin-right: 100px;
}

@media (min-width: 768px) and (max-width: 991px) {
    #security {
        float: right;
    }
}

#delivery {
    float: right;
    margin-right: 100px;
}

@media (min-width: 768px) and (max-width: 991px) {
    #delivery {
        float: right;
          
    }
}

h2 {
    font-size: 20px;
}

#search p {
    font-size: 13px;
}